table,td,th {

    border: 1px solid;
    border-collapse: collapse;
    border-color: #969696;
    padding: 10px;

}

.container {

    width: 80%;
    padding: 20px;
    margin: auto;
}

tr :hover{
       
    background-color: darkgray;
}

table{

    width: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

td.th{

    padding: 10px;

}

th{
     
     font-size: 20px;
    background-color: dodgerblue;
    color: white;
}



tr:nth-child(even) {

    background-color: lightgrey;
}

caption{

    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
}